<!DOCTYPE html>
<html>
    <head xmlns:th="http://www.thymeleaf.org">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <center>
    <br>
       <h2 style ="color:red">Access Denied...!</h2>
       <h3><i>you are not Authorized to access this resource</i></h3>
    <br><br>
    <hr>
<br>
<h1><a th:href="@{/}">Back To Home Page</a></h1>
<br><hr>
       </center>
 </body>
</html>