<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> admin page </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        h2{
            color:reg;
            background-color:white;
                   }
        </style>
        <link rel="stylesheet" href="">
    </head>
    <body>
    <h2> dev coding ADMIN PAGE</h2>
        <hr>
        <p> we have annual holiday so  we are going out of mumbai for Enjoy <br>
            kepp it as secret don't tell the regular employee ...!
        </p>
 
    <hr> <a th:href="@{/}">Back to Home Page<hr>
    </body>
</html>